body {
    background: #eee;
}
#side_nav {
    background: #000;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.5s;
}
.content {
    min-height: 100vh;
    width: 100%;
}
hr.h-color {
    background: #eee;
    height: 2px;
}
.sidebar li.active {
    background: #eee;
    border-radius: 10px;
}
.sidebar li.active a,
.sidebar li.active a:hover {
    color: #000;
}
.sidebar li a{
    color: #fff;
}
.dropdown-menu {
    background-color: #eee;
    border: 1px solid #000;
    border-radius: 10px;
}
.dropdown-contactbtn {
    color: #000;
    background-color: #eee;
    border: 2px solid #000;
    border-radius: 8px;
}
.dropdown-contactbtn:hover {
    transition: 0.3s;
    color: #eee;
    background-color: #404f5f;
}
.sb-dashboard:hover,
.sb-projects:hover,
.sb-resources:hover,
.sb-blogs:hover,
.sb-aboutme:hover,
.sb-contribute:hover,
.sb-settings:hover,
.donate-ukraine:hover {
    transition: 0.1s;
    border-radius: 8px;
    background-color: #404f5f;
}
.donate-ukraine {
    border-radius: 8px;
}
.drop-mail:hover,
.drop-discord:hover,
.drop-twitter:hover {
    transition: 0.2s;
    background-color: #a4b1be;
}
.bxs-group,
.bxs-cog,
.bxl-twitter,
.bxs-envelope {
    position: relative;
    top: 4.5px;
    right: 6.5px;
}
[class*="material-icons-sharp"] {
    position: relative;
    right: 6.5px;
}
@media(max-width: 767px) {
    #side_nav {
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active {
        margin-left: 0;
    }
}